{% extends 'enroll/base.html'%}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="center alert alert-info text-center">Add New Student</h4>

        <form action="" method="POST">
{% csrf_token %}
{{form.as_p}}

        <input type="submit" class="btn btn-success" value="Add">
        {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}

    </div>
    <div class="col-sm-7 offset-1">
        <h4 class="center alert alert-info text-center">Show Student Information</h4>
    
    <!-- This condition is user to check weather there is record or not -->
    {% if stu %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for st in stu%}
          <tr>
            <th scope="row">{{st.id}}</th>
            <td>{{st.name}}</td>
            <td>{{st.email}}</td>
            <td>{{st.password}}</td>
            <td>
                <a href="{% url 'update' st.id %}" class="btn btn-warning btn-sm">Edit</a>
                <form  method="POST" action="{% url 'delete' st.id %}" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                </form>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    
    {% else %}
    <h4 class="center alert alert-warning text-center">No Record</h4>
    {% endif %}
</div>
</div>
{% endblock %}